*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;
    background-color: #2f3542;
    display: flex;
    align-items: center;
}

.toolbox-cont > *{
    margin-left: 4rem;
    border-radius: 2px;
}
.toolbox-priority-cont{
    height: 3.5rem;
    width: 20rem;
    background-color: #a4b0be;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: #a4b0be;
    display: flex;
}
.action-btn-cont > *{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.color{
    height: 2rem;
    width: 4rem;
    background-color: lightsalmon;
    border-radius: 2px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.lightpink
{
    background-color: #b71540;
}
.lightgreen
{
    background-color: #009432;
}
.lightblue
{
    background-color: #1e3799;
}
.black
{
    background-color: black;
}

.action-btn-cont > *:hover{
    background-color: #485460;
}

.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: #1e3799;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    display: none;
}

.priority-color-cont
{
    height: 100%;
    width: 25%;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textarea-cont
{
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    background-color: #dcdde1;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}

.priority-color
{
    height: 3rem;
    width: 50%;
    border-radius: 2px;
}

.border
{
    border: 5px solid #dcdde1;
}

.ticket-cont
{
    height: 13rem;
    width: 14rem;
    background-color: #f1f2f6;
}
.ticket-color
{
    height: 1rem;
}
.ticket-id
{
    height: 2rem;
    padding: 0.4rem;
}
.task-area
{
    height: calc(100% - 1rem - 2rem - 2rem);
    padding: 0.4rem;
    outline: none;
}
.ticket-lock{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 1rem;
}
.main-cont
{
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    background: url(./bg.webp);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}